# =====================
# OpenLDAP
# =====================
LDAP_DOMAIN=example.org
LDAP_BASE_DN=dc=example,dc=org
LDAP_ADMIN_PASSWORD=SuperSecretLdapAdmin123!
LDAP_CONFIG_PASSWORD=ConfigSecret123!

# =====================
# App CRUD
# =====================
FLASK_SECRET_KEY=cambiar-por-llave-generada-con-openssl-rand-hex-32
TOKEN_SECRET_KEY=cambiar-por-otra-llave-generada-con-openssl-rand-hex-32
LDAP_URI=ldaps://openldap:636
LDAP_BIND_DN=cn=admin,dc=example,dc=org
LDAP_BIND_PASSWORD=SuperSecretLdapAdmin123!
LDAP_USER_BASE_DN=ou=users,dc=example,dc=org

# =====================
# SMTP / Correo
# =====================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password_o_contrasena
SMTP_FROM=noreply@example.org

# =====================
# App Config
# =====================
FLASK_ENV=production
FLASK_DEBUG=0
